.chooseDeliveryContainer{
    width:100vw;
    height:100vh;
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode:overlay;
    @include flexCenter();
    flex-direction:column;
    text-align:center;
    overflow:hidden;

    .chooseDeliveryTextContainer{
        padding:3rem;
        overflow:hidden;

        @media screen and (max-width: 830px) {
            padding:1rem;
        }

        h1{
            font-size:5rem;
            color:white;

            @media screen and (max-width: 1000px) {
                font-size:4rem;
            }

            @media screen and (max-width: 830px) {
                font-size:3rem;
            }
        }

        button{
            @include button();
            margin:2rem;

            @media screen and (max-width: 830px) {
                margin:0.5rem;
                margin-top:2rem;
                padding:1rem;
            }
        }
    }
}