.chooseDeliveryContainer{
    width:100vw;
    height:100vh;
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode:overlay;
    @include flexCenter();
    flex-direction:column;
    text-align:center;
    overflow:hidden;

    .chooseDeliveryTextContainer{
        padding:3rem;
        overflow:hidden;

        h1{
            font-size:5rem;
            color:white;
        }

        button{
            @include button();
            margin:2rem;
        }
    }
}