.navbar{
    position:absolute;
    top:0;
    width:100%;
    height:8%;
    z-index:4;
    @include flexCenter();
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    min-height:80px;

    .cart{
        cursor:pointer;

        @media screen and (max-width:700px){
            margin-left:-1rem;
        }

        div{
            @include flexCenter();

            h1{
                font-size:3rem;
                color:white;

                @media screen and (max-height:500px){
                    font-size:1.5rem;
                }

                @media screen and (max-width:700px){
                    font-size:1.5rem;
                }
            }
        }

        .react-icons{
            width:5em;
            height:5em;
            color:$base-color;
            margin-left:1rem;

            @media screen and (max-height:500px){
                width:3rem;
                height:3rem;
            }

            @media screen and (max-width:700px){
                width:3rem;
                height:3rem;
            }
        }
    }

    .navbarLogo{
        background-size:contain;
        background-repeat:no-repeat;
        @include flexCenter();
        position:absolute;
        right:0;
        height:100%;
        border:solid;
        padding-left:1rem;
        padding-right:1rem;
        border:2px solid $base-color;
        border-right:none;
        box-shadow: 0px 7px 22px 10px rgba(0,0,0,0.45);

        @media screen and (max-height:500px){
            height:50%;
        }

        @media screen and (max-width:700px){
            height:60%;
        }

        p{
            font-size:2rem;
            color:white;
            line-height:1.6rem;

            @media screen and (max-width: 500px) {
                font-size:1rem;
                line-height:0.8rem;
            }

            @media screen and (max-height:500px){
                font-size:1rem;
                line-height:0.7rem;
            }

            @media screen and (max-width:700px){
                font-size:1rem;
                line-height:0.7rem;
            }
        }

        .react-icons{
            color: $base-color;
            width:60%;
            height:100%;
        }
    }
}