.navbar{
    position:absolute;
    top:0;
    width:100%;
    height:7%;
    z-index:4;

    .navbarLogo{
        background-size:contain;
        background-repeat:no-repeat;
        height:100%;
        padding:2rem;
        position:absolute;
        right:0;
        top:0;

        .react-icons{
            color: $base-color;
            width:10em;
            height:10em;
        }
    }
}