.orderMainContainer{
    width:100vw;
    height:100vh;
    background-image:url("../images/background.JPG");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.6);
    background-blend-mode:overlay;
    overflow:hidden;
    @include flexCenter();
    flex-direction:column;

    .foodHeadersContainer{
        @include flexCenter();

        h1{
            font-size:4.5rem;
            padding:2rem;
            color:white;
        }
    }

    .carouselContainer{
        width:90%;
        height:70%;
        
        .slick-slider{
            height:100%;

            .slick-list{
                height:100%;

                .slick-track{
                    height:100%;
                }

                .slick-slide{
                    height:100%;
                    @include flexCenter();
                    

                    div{
                        width:80%;
                        height:100%;
                        @include flexCenter();

                        .sliderElement{
                            width:80%;
                            height:100%;
                            display:flex !important;
                            @include flexCenter();
                            flex-direction: column;
                            justify-content:space-between;
                            

                            div{
                                width:100%;
                                height:45%;
                                flex-direction:column;
                                
                                .productImage{
                                    background-image:url("../images/food/philadelphia.jpg");
                                    background-position:center;
                                    background-repeat:no-repeat;
                                    background-size:cover;
                                    height:80%;
                                    border-top-left-radius: 5px;
                                    border-top-right-radius: 5px;
                                    background-color:rgba(0, 0, 0, 0.2);
                                    background-blend-mode:overlay;
                                }

                                .productDetails{
                                    height:20%;
                                    background-color:$base-color;
                                    color:white;
                                    font-size:1.2rem;
                                    border-bottom-left-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                }

                                div{
                                    height:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}