@import './mixins';
@import './variables';
@import '../../components/landingPageComponents/checkout/checkout';
@import '../../components//landingPageComponents/choose_delivery/chooseDelivery';
@import '../../components/landingPageComponents/contactUs/contactUs';
@import '../../components/landingPageComponents/delivery_details/deliveryDetails';
@import '../../components/landingPageComponents/delivery_time/delliveryTime';
@import '../../components/landingPageComponents/home/home';
@import '../../components/landingPageComponents/navbar/navbar';
@import '../../components/landingPageComponents/order/order';

h1{
    font-family: 'Merienda', cursive;
}

*{
    margin:0;
    padding:0;

    &::-webkit-scrollbar {
        display: none;
    }
}

body{
    overflow:hidden;
}

.react-icons {
    vertical-align: middle;
}