@import './variables';
@import './mixins';
@import './home';
@import './navbar';
@import './order';
@import './checkout';
@import './chooseDelivery';
@import './deliveryDetails';
@import './delliveryTime';
@import './contactUs';

*{
    margin:0;
    padding:0;
    font-family:lato;
}
body{
    overflow:hidden;
}

.react-icons {
    vertical-align: middle;
}