@import './variables';
@import './mixins';
@import './home';
@import './navbar';
@import './order';
@import './checkout';
@import './chooseDelivery';
@import './deliveryDetails';
@import './delliveryTime';
@import './contactUs';
@import './managementStyles/cmsPromotions';

h1{
    font-family: 'Merienda', cursive;
}

*{
    margin:0;
    padding:0;

    &::-webkit-scrollbar {
        display: none;
    }
}

body{
    overflow:hidden;
}

.react-icons {
    vertical-align: middle;
}