.hamburgerMenu{
    position:absolute;
    width:8%;
    height:8%;
    left:10px;
    top:10px;

    .react-icons{
        width:100%;
        height:100%;
        cursor:pointer;
    }
}

.cmsNavbar{
    width:17.5%;
    height:100%;
    @include flexCenter();
    flex-direction:column;
    background-image:url("../../../resources/images/background.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode:overlay;
    overflow:hidden;
    @include flexCenter();
    box-shadow: 3px 2px 41px -2px rgba(0,0,0,0.5);
    position:absolute;
    left:0;
    top:0;
    z-index:2;

    @media screen and (max-width:1200px){
        width:30%;
    }

    @media screen and (max-width:770px){
        width:40%;
    }

    @media screen and (max-width:516px){
        width:50%;
    }

    a{
        text-decoration:none;
    }

    h1{
        margin-bottom:3rem;
        color:white;

        @media screen and (max-width:770px){
            font-size:1.5rem;
        }

        @media screen and (max-width:516px){
            font-size:1rem;
            margin-bottom:1rem;
        }
    }

    .close{
        width:8%;
        height:8%;
        color:white;

        .react-icons{
            width:100%;
            height:100%;
            cursor:pointer;
        }
    }

    .navContainer{
        @include flexCenter();
        flex-direction:column;
        margin-bottom:3rem;

        @media screen and (max-width:770px){
            margin-bottom:2rem;
        }

        @media screen and (max-width:516px){
            margin-bottom:0rem;
        }
        
        h1{
            margin-bottom:1rem;
        }

        h2{
            color:white;

            @media screen and (max-width:770px){
                font-size:1.5rem;
            }
    
            @media screen and (max-width:516px){
                font-size:1rem;
                margin-bottom:1rem;
            }
        }
    }
}