.homeMainContainer{
    width:100vw;
    height:100vh;
    position:relative;
    @include flexCenter();
    justify-content:flex-end;
    align-items:flex-end;
    overflow:hidden;
    background-image:url("../../../resources/images/background.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode:overlay;

    @media screen and (max-width: 800px) {
        justify-content:center;
        align-items:center;
    }
    
    @media screen and (max-height:540px) and (min-width:700px){
        justify-content:center;
        align-items:center;
    }

    .homeMainContainerOverlay{
        z-index:1;
        position:absolute;
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.6);
        background-blend-mode:overlay;
    }

    .homeContentContainer{
        color:white;
        @include flexCenter();
        flex-direction:column;
        text-align:right;
        align-items:flex-end;
        padding:5rem;
        z-index:2;
        position:relative;
        min-height:390px;

        @media screen and (max-width: 800px) {
            align-items:center;
            text-align:center;
            width:100%;
            height:100%;
            padding:1rem;
        }

        @media screen and (max-height:540px) and (min-width:700px){
            align-items:center;
            text-align:center;
        }

        hr{
            border: 0;
            height: 4px;
            background: $base-color;
            width:100%;
            margin:2rem;
            max-width:700px;

            @media screen and (max-width: 800px) {
                width:50%;
                margin:1.5rem;
            }

            @media screen and (max-height: 800px) and (min-width:700px) {
                margin:0.5rem;
            }
        }
        h1{
            font-size:4rem;
            letter-spacing:0.2rem;
            line-height:5rem;

            @media screen and (max-width: 800px) {
                font-size:2rem;
                letter-spacing:0rem;
                line-height:2.8rem;
            }

            @media screen and (max-height: 780px) and (min-width:700px) {
                font-size:3rem;
                letter-spacing:0rem;
                line-height:4rem;
            }

            @media screen and (max-height: 620px) and (min-width:700px) {
                font-size:2.5rem;
                line-height:3rem;
            }
        }
        p{
            font-size:1.5rem;
            padding-bottom:1rem;
            max-width:640px; 
            line-height:1.6rem;

            @media screen and (max-width: 800px) {
                font-size:1rem;
                padding-bottom:0;
            }

            @media screen and (max-height: 800px) and (min-width:700px) {
                font-size:1.2rem;
                letter-spacing:0rem;
                line-height:1.5rem;
            }

            @media screen and (max-height: 620px) and (min-width:700px) {
                font-size:1.1rem;
                line-height:1.3rem;
            }
        }

        .homeButtons{
            button{
                @include button;
                margin-top:2rem;
                margin-left:1rem;

                @media screen and (max-height: 640px) and (min-width:700px) {
                    margin-top:0.5rem;
                }
            }
        }
    }
}