.orderToCheckout{
    position:absolute;
    width:30%;
    height:100%;
    background-color:$background-color;
    z-index:10;
    left:0;
    box-shadow: 10px 2px 15px 0px rgba(0,0,0,0.75);
    border-right: 2px solid $base-color;
    overflow-y:scroll;
    min-height:320px;

    @media screen and (max-width: 1628px) {
        width:40%;
    }

    @media screen and (max-width: 1058px) {
        width:50%;
    }

    @media screen and (max-width: 910px) {
        width:60%;
    }

    @media screen and (max-width: 709px) {
        width:70%;
    }

    @media screen and (max-width: 600px) {
        width:80%;
    }
    
    @media screen and (max-width: 529px) {
        width:100%;
    }

    .x{
        position:absolute;
        width:3em;
        height:3em;
        margin:1rem;
        cursor:pointer;
        color:black;

        &:hover{
            transform:scale(1.1);
        }
    }


    .emptyContainer{
        width:100%;
        height:100%;
        @include flexCenter();
        flex-direction:column;

        h1{
            font-size:4rem;
            width:60%;
            margin-bottom:2.5rem;
        }

        p{
            font-size:2rem;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .hideCheckout{
        background-image:url('../../../resources/images/x-mark.svg');
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
        width:8%;
        height:4%;
        margin:0.5rem;
        cursor:pointer;
    }


    .checkoutSum{
        width:100%;
        height:20%;
        @include flexCenter();
        flex-direction:column;

        @media screen and (max-height: 620px){
            height:40%;
        }

        div{
            width:100%;
            height:20%;
            @include flexCenter();

            hr{
                border: 0;
                height: 4px;
                background: $base-color;
                width:30%;

                
            }
        }

        h1{
            margin-bottom:2rem;
        }
        
        button{
            @include button();
        }
    }

    .checkoutProduct{
        width:100%;
        height:20%;
        @include flexCenter();

        @media screen and (max-width: 529px) {
            flex-direction:column;
            height:40%;
        }

        @media screen and (max-height: 620px){
            height:30%;
        }

        .productImage{
            width:100%;
            height:70%;
            background-image:url('../../../resources/images/food/philadelphia.jpg');
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
            @include flexCenter();
            background-color:rgba(0, 0, 0, 0.6);
            background-blend-mode:overlay;
            color:white;

            @media screen and (max-width: 529px) {
                height:40%
            }

            h1{
                font-size:2.5rem;

                @media screen and (max-height: 620px){
                    font-size:1.8rem;
                }
            }
        }

        .productPriceData{
            @include flexCenter();
            flex-direction:column;
            height:20%;
            width:100%;
            font-size:1.5rem;

            @media screen and (max-width: 529px) {
                height:60%;
            }

            @media screen and (max-height: 620px){
                font-size:1.1rem;
            }

            div:nth-child(1){
                margin-bottom:1rem;
            }

            div{
                width:100%;
                @include flexCenter();

                button{
                    border:none;
                    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
                    font-size:1.3rem;
                }

                .plus{
                    background-color:greenyellow;
                    margin-right:1rem;
                    border-radius:0.5rem;
                }

                .minus{
                    background-color:lightcoral;
                    margin-left:1rem;
                    border-radius:0.5rem;
                }
            }
        }
    }
}